


@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  

  background-image: linear-gradient(180deg, grey ,white);
  
  /* Set the background size and repeat properties. */
  

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */


  }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}




.section3{

	font-size: 15px;font-family: 'PT Sans Caption', sans-serif;
height:40vh;

	width: 80%;
	margin: auto;display: flex;justify-content:center;align-items: center;margin-top: 0px;
	

}
.icons{
	display: flex;justify-content: space-between;
}
.insec3{
	display: flex;flex-direction: column;
	width: 100%;text-align: center;

	}


.icons i{
	font-size: 35px;
}



.top4,	.mid4{width: 100%;
		display: flex;flex-direction: column;grid-gap: 40px;
	}

.lf{
	font-size: 22px;word-spacing:5px;font-family: 'jura';font-weight: 900
}
.am{font-size: 40px;

}



.num2{

}






@media all and (max-width: 425px)
{




.section3{

font-family: 'PT Sans Caption', sans-serif;
height:auto;
width: 90%;
margin-top: 60px;



	
	

}
.icons{
	display: flex;flex-direction: column;grid-gap: 30px;width: 90%;margin: auto;
}
.insec3{
	display: flex;flex-direction: row;
	width: 100%;

	}

.lf{
	font-size: 20px;
}


.lf:after{
	content:'';display: grid;position: relative;top: 10px;
	width: 40% ;height:1px;margin: auto;
background: green
}
.icons i{
	font-size: 25px;
}





.top4,	.mid4{width: 80%;
		display: grid;grid-template-rows: ;grid-gap: 10px;margin: auto;
	}


.am{font-size: 25px;

}



}